[Unit]
Description=HUDIY I2C inclinometer
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/hudiy-inclinometer/hudiy-inclinometer.py
WorkingDirectory=/home/pi/hudiy-inclinometer
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5

User=pi
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
